header {
    text-align: center;
}

header,
footer {
    background-color: #EBEBEB;
}

img {
    padding: 0 0 2% 0;
}

header,
section,
footer {
    padding: 1.5%;
}

nav a {
    padding: 0 5% 0 0;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Assistant", sans-serif;
}

header,
#title p {
    font-weight: 700;
}

a:hover,
#title p {
    color: black;
}

h1 {
    color: #D49821;
}

h2,
h4 {
    color: #E3B806;
}

h1,
h2,
footer h3,
#container h3 {
    font-family: "Lora", serif;
}

h3,
a,
p,
footer {
    color: #475B40;
}

#descriptions h2,
h3,
h4 {
    font-family: "Assistant", sans-serif;
    font-weight: 200;
}

#container,
#container h1,
#container h2,
#container h3,
#container p,
#container a {
    background-color: #475B40;
    color: #EBEBEB;
    padding: 1.5%;
}

#container a,
#container p {
    font-size: larger;
}