header,
section,
footer {
    padding: 1.5%;
}

#header {
    text-align: center;


}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Assistant", sans-serif;
}

#date p,
#header {
    font-weight: 700;
}

a:hover,
#descriptions p,
#date p {
    color: black;
}

h1,
footer h2 {
    color: #D49821;
}

h2,
h4 {
    color: #E3B806;
}

h3,
a,
p,
footer {
    color: #475B40;
}

h4 {
    font-weight: 200;
}

h1,
h2,
footer h3,
#title h3,
#container h3 {
    font-family: "Lora", serif;
}

h3,
h4 {
    font-family: "Assistant", sans-serif;
}

#container,
#container h2,
#container h3,
#container p,
#container a {
    background-color: #475B40;
    color: #EBEBEB;
    padding: 1%;
}

#container p,
#container a {
    font-size: larger;
}

header,
footer {
    background-color: #EBEBEB;
}