header {
    text-align: center;
}

header,
footer {
    background-color: #EBEBEB;
}

img {
    padding: 2% 0;
}

header,
section,
footer {
    padding: 1.5%;
}

nav a {
    padding: 0 5% 0 0;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Assistant", sans-serif;
}

header,
#title p {
    font-weight: 700;
}

a:hover,
#title p,
#container a:hover {
    color: black;
}

h1 {
    color: #D49821;
}

h2,
h4 {
    color: #E3B806;
}

h1,
h2,
footer h3,
#container h3 {
    font-family: "Lora", serif;
}

h3,
a,
p,
footer {
    color: #475B40;
}

#descriptions h2,
h3,
h4 {
    font-family: "Assistant", sans-serif;
    font-weight: 200;
}

#container {
    background-image: url(../images/IMG_0869\ copy.JPG);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#container h1,
#container h2,
#container h3,
#container p,
#container a {
    color: #fff4c6;
    padding: 1.5%;
    text-shadow: 5px 5px 10px #5D5E4F;
}

#container p {
    font-size: larger;
}

#container a {
    text-decoration: underline;
    font-weight: 600;
    font-size: larger;
}

#home {
    background-image: url(../images/IMG_0869\ copy.JPG);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.home h1,
.home h2,
.home h3 {
    color: #fff4c6;
    text-align: center;
    text-shadow: 5px 5px 10px #5D5E4F;
}

.home h1 {
    font-size: 500%;
    text-transform: capitalize;
    padding: 20% 0 0 0
}